
tmp
venv
.venv
.env
raw
weights
prepare_datasets.ipynb

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
pip-install.log

# FastAPI / uvicorn
*.log

# Virtual environments
env/
ENV/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.suo
*.user
